.card {
	background-color: #999999;
	margin: auto;
}

.cardTitle {
	text-transform: uppercase;
	text-align: center;
}

.cardSubTitle {
	text-align: center;
}

.count {
	font-size: 1.2rem;
	margin: auto;
}

.btnBuy {
	display: block;
	text-transform: uppercase;
	margin: auto;
}
